@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo a Piadas Ria com Mia </h1>
</div>
  <div class="texto_entrada">
    Bem-vindo ao Ria com Mia! Aqui, a comédia está em suas mãos. 
    Imagine um site onde você pode criar, editar e remover piadas à vontade.
    Adicione seu toque de humor à nossa coleção ou ajuste conforme necessário.
    Afinal, a comédia é subjetiva, e no 'Risada Livre', sua risada é a protagonista.
    Junte-se a nós para rir, criar e se divertir. A vida é curta demais para não aproveitar cada piada!
  </div>

<img src="piadas/king_nigger_got_an_upgrade__by_kellarn_d77pibe-fullview.jpg">
<img width="50%" src="piadas/macaco.webp">
<img src="piadas/artworks-000239972609-433jgp-t500x500.jpg">